---
Standard: Latest
ColumnLimit: 220

# Use tabs for indentation
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
UseTab: ForContinuationAndIndentation

# Use brace on new line for function/namespace/class declarations only
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:            true
  AfterControlStatement: false
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        true
  AfterObjCDeclaration:  true
  AfterStruct:           true
  AfterUnion:            true
  BeforeCatch:           false
  BeforeElse:            false
  IndentBraces:          false

# Alignment
# BinPackArguments: false
# BinPackParameters: false
# AlignArrayOfStructures: Right
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
