---
Checks: 'modernize-*,performance-*,readability-*,-llvm-header-guard,-modernize-use-trailing-return-type,-modernize-use-emplace,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-implicit-bool-conversion,-readability-convert-member-functions-to-static,-modernize-avoid-c-arrays'